.img{
    width: 100%;
}
.container{
    max-width: 85%;
}
.card {
    max-width: 100%;
    max-height: auto;
}
/* .heroimage{
    height: 100vh;
}
 */
.parallax{
    background-image: url("/img/1.png");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat:repeat;
    background-size: cover;
}
.maintext{
    height: 500px;
    background-color:rgba(245, 245, 245, 0.39);
    font-size: 24px;
    text-align: center;
}